.regForm{
  background-color: #D9CA82;
  border: 5px solid #17A68C;
  /* padding: 20px; */
  gap: 50px;
  /* margin: 20px; */
  border-radius: 10px;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.divInput {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  /* border: 5px solid #17A68C; */
  background-color: #D9CA82;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 40px;

  /* margin-left: 100px; */
}
.formdiv {
  display: flex;
  justify-content: space-around;
}
.regBtn {
  font-weight: bold;
  background-color: #F2CF1D;
  width: 200px;
  height: 50px;
  border-radius: 20px;

  color: #17A68C;
  /* margin-right: 20px; */
}
.divReg {
  
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
  padding: 20px;
  gap: 20px;
}

.ThemesCard{
  
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.choseCard{
  background-color: #D9CA82;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-decoration: black;
  background-color: #D9CA82;
  border: 5px solid #17A68C;
  /* padding: 20px; */
  gap: 50px;
  /* margin: 20px; */
  border-radius: 10px;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-wrapper {
  
  background-color: #F2CF1D;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(189, 214, 189)
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2{
  color: #17A68C;
}

.enterName, .answerlabel {
  color: #17A68C;
  font-size: xx-large;


}

.link:visited {
  color: #17A68C;

}
.link {
  color: #17A68C;
  background-color: #F2CF1D;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 5px solid #17A68C;

}
.quest-container{
 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9CA82;
  border: 5px solid #17A68C;
  /* padding: 20px; */
  gap: 50px;
  margin: 160px;
  border-radius: 10px;
  width: 800px;
  height: 400px;

  flex-direction: column;
}

.btn{
background-color: #F2CF1D;
width: 300px;
border-radius: 10px;
height: 60px;
color: #17A68C;
border: 2px solid #17A68C;

font-weight: bold;
}
 
.quest-list{
  padding: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer-form{
  
  
}

.link {
  background-color: #F2CF1D;
  color: #17A68C;
border: 2px solid #17A68C;

}

.quest-img{
  width: 400px;
  position: absolute ;
  translate:30% -60%;

}
.answer{
  position: absolute ;
  translate:50% -15%;
  
}
li {
  color: #17A68C;
  font-size: larger;
  font-weight: bold;
}
body.loaded {
	overflow: overlay;
}
.preload {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(248, 241, 241);
	z-index: 10;
	display: grid;
	place-content: center;
	justify-items: center;
	transition: 500ms ease;
}

.preload > * {
	transition: 250ms ease;
}

.preload.loaded > * {
	opacity: 0;
}

.preload.loaded {
	transition-delay: 100ms;
	transform: translateY(100%);
}

.circle {
	width: 112px;
	height: 112px;
	border-radius: 50%;
	border: 3px solid white;
	border-block-start-color: green;
	margin-block-end: 45px;
	animation: rotate360 10s linear infinite;
}
.answer {
  visibility: hidden;
  position: absolute;
}
.answer-img{
  width: 500px
}

/* .ans-img{
  width: 200px
} */

@keyframes rotate360 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}
